{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_text_edit' %}

{% block main %}
    <h1>{{ title }}</h1>

    {{ form(form) }}

{% endblock %}

{% block sidebar %}
    {% if cover_text is defined %}
        <div class="section actions">
            {{ include('cover_text/_delete_cover_text.html.twig', {id: id}, with_context = false) }}
        </div>
    
    {% elseif description_text is defined %}
        <div class="section actions">
            {{ include('description_text/_delete_description_text.html.twig', {id: id}, with_context = false) }}
        </div>

    {% else %}
        <div class="section actions">
            {{ include('game_text/_delete_game_text.html.twig', {id: id}, with_context = false) }}
        </div>
    {% endif %}
{% endblock %}